doctype html
html
  head
    title Display QR Code
    script.
      function deleteQRCode() {
        fetch('/delete-qr/' + '#{qrCode._id}', { method: 'DELETE' })
          .then(res => window.location.href = '/')
          .catch(err => console.error(err));
      }
  body
    header
      h1 Your QR Code
    main
      section
        h2 QR Code
        img(src=qrCode.image alt="Your QR Code")
        h2 Details
        p Name: #{qrCode.name}
        p Link: #{qrCode.link}
        p Important: #{qrCode.important ? 'Yes' : 'No'}
        button(onclick=`location.href='/update-qr/' + '${qrCode._id}'`) Update QR Code
        button(onclick="deleteQRCode()") Delete QR Code
        button(onclick="location.href='/'") Return to Main Menu
